parameters:
    container.dumper.inline_factories: true
    jwt_duration: 3600

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    jwt_event_subscriber:
        class: App\JWT\JsonWebToken
